@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --backgroun-color-light: rgb(250, 250, 250);
    --backgroun-color-dark: rgb(34, 34, 34);

    --secundary-color-light: rgb(175, 236, 224);
    --secundary-color-dark: rgb(24, 24, 66);

    --font-color-light: rgb(0, 0, 0);
    --font-color-dark: rgb(255, 255, 255);

    --text-muted-color-light: rgb(113, 113, 113);
    --text-muted-color-dark: rgb(196, 196, 196);

    --link-color: rgb(175, 236, 224);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-top {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appear-from-bottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appear-from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Colorify */
body {
    background-color: var(--backgroun-color-dark);
    color: var(--font-color-dark);
}

.siteHeader,
.navbar,
.navbarItem .navbarLinkText {
    background-color: var(--secundary-color-dark);
    color: var(--font-color-dark);
}

.blogPostAuthor a,
.listPostsName a,
.blogPostFigCaption a,
.blogPostContent a {
    color: var(--font-color-dark);
}

.postDate,
.listAuthor,
.listPostDescription,
.blogPostPubInfo,
.blogPostAuthor,
.blogPostFooter,
.blogPostFigCaption {
    color: var(--text-muted-color-dark);
}

.siteHeader,
.navbar {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin-bottom: 45px;

}

.siteHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    padding: 20px 10px;
    font-size: 2em;
}

.siteHeader>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerLogo {
    height: 70px;
    width: 70px;
}

.themeToggle {
    height: 40px;
    width: 40px;

    animation: appear-from-right 500ms ease-in-out;
}

.mainContainer {
    margin-bottom: 100px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.mainTitle {
    margin: 80px auto 30px auto;
    max-width: 500px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    text-transform: capitalize;

    animation: appear-from-left 250ms ease-in-out;
}

.mainContent {
    margin: 0 10%;
    height: auto;
    word-spacing: 3.5px;
}

.contentImage {
    margin-bottom: 20px;

    animation: appear-from-bottom 250ms ease-in-out;
}

.contentParagraph {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 10px;

    animation: appear-from-bottom 250ms ease-in-out;
}

.postArticle {
    height: auto;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--font-color-dark);
    animation: appear-from-left 350ms ease-in-out;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4em;
}

.listPostsName {
    margin-bottom: 10px;
}

.postDate {
    display: flex;
    align-items: right;
    font-size: 0.65em;
    font-weight: 500;
    margin-right: 10px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.listAuthor {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 10px;
}

.listPostDescription {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blogPostContent,
.blogPostDescription {
    font-size: 1.1em;
    line-height: 25px;
}

.blogPostContent li {
    margin-left: 10px;
    list-style: none;
}

.blogPostDescription,
.blogPostContent,
.blogPostFooter,
.blogPostPubInfo {
    animation: appear-from-bottom 350ms ease-in-out;
}

.blogPostInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px;
    word-spacing: 3px;
}

.blogPostPubInfo {
    display: flex;
    gap: 10px;
    word-spacing: 3px;
}

.blogPostAuthor a,
.listPostsName a,
.blogPostFigCaption a,
.blogPostContent a {
    text-decoration: none;
    padding: 0 2px;
    border-bottom: 5px solid var(--link-color);
    transition: all 200ms linear;
    background-size: 0;
}

.blogPostAuthor a:hover,
.listPostsName a:hover,
.blogPostFigCaption a:hover,
.blogPostContent a:hover {
    background: var(--link-color);
}

.blogPostDescription {
    font-style: italic;
}

.blogPostFigCaption {
    font-size: 0.9em;
    margin-top: 5px;
}

.blogPostFooter {
    margin-top: 60px;
    border-top: 2px solid var(--text-muted-color-dark);
    padding-top: 20px;
    text-align: center;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
}

.navbarItem {
    display: flex;
    align-items: center;
    list-style: none;
    width: auto;
    height: 100%;
    padding: 10px 20px;
    font-size: 1.5em;
}

.navbarItem .navbarLinkText {
    text-decoration: none;
}

@media screen and (min-width: 1400px) {
    .mainContent {
        margin: 0 15%;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin-bottom: 37px;
    }

    .siteHeader {
        height: 30px;
        font-size: 1.3em;
    }

    .themeToggle {
        height: 30px;
        width: 30px;
    }

    .mainTitle {
        font-size: 2em;
    }

    .mainContent {
        margin: auto 5%;
    }

    .contentParagraph {
        font-weight: 400;
        font-size: 1.1em;
    }

    .listItem {
        font-size: 1.1em;
    }

    .postDate {
        font-size: 0.7em;
    }

    .postArticle {
        font-size: 1.1em;
    }

    .blogPostPubInfo {
        font-size: 0.85em;
        gap: 5px;
    }

    .blogPostContent,
    .blogPostDescription {
    font-size: 1em;
    }

    .navbar {
        justify-content: end;
        flex-direction: row-reverse;
        height: 45px;
    }

    .navbarItem {
        font-size: 1.1em;
        height: 100%;
    }
}