@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes appear-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-bottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    height: auto;
    background-color: blanchedalmond;
    font-family: 'Montserrat' ,sans-serif;
}

.mainTitle {
    background-color: lightblue;
    margin: 10px auto 20px auto;
    max-width: 500px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;

    animation: appear-from-left 250ms ease-in-out;
}

.mainContent {
    margin: 0 10%;
    height: auto;
    background-color: lightpink;
}

.contentImage {
    margin-bottom: 20px;
}

.contentParagraph {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 10px;

    animation: appear-from-bottom 250ms ease-in-out;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightcoral;

    animation: appear-from-bottom 300ms ease-in-out;
}
.navbarItem {
    list-style: none;
    width: auto;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: aquamarine;
}

.navbarItem .navbarLinkText {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1400px) {
    .mainContent {
        margin: 0 15%;
    }   
}

@media screen and (max-width: 500px) {
    .mainTitle {
        font-size: 2em;
    }
    .mainContent {
        margin: auto 5%;
    }
    .contentParagraph {
        font-weight: 400;
        font-size: 1em;
    }
    .navbar {
        justify-content: end;
        flex-direction: row-reverse;
    }
    .navbarItem {
        font-size: 1.1em;
    }
}
