@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes appear-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes appear-from-bottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin-bottom: 45px;
    background-color: #fff;

}

.siteHeader {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 30px;
    padding: 20px 10px;
    background-color: #f0f0ff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;

    /* animation: appear-from-top 300ms ease-in-out; */
}

.mainContainer {
    margin-bottom: 100px;
    height: auto;
    font-family: 'Montserrat' ,sans-serif;
}

.mainTitle {
    margin: 60px auto 50px auto;
    max-width: 500px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid #686868;

    animation: appear-from-left 250ms ease-in-out;
}

.mainContent {
    margin: 0 10%;
    height: auto;
}

.contentImage {
    margin-bottom: 20px;

    animation: appear-from-bottom 250ms ease-in-out;
}

.contentParagraph {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 10px;

    animation: appear-from-bottom 250ms ease-in-out;
}

.postArticle {
    height: auto;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    animation: appear-from-left 350ms ease-in-out;

}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4em;
}

.postDate {
    display: flex;
    align-items: right;
    font-size: 0.65em;
    font-weight: 500;
    margin-right: 10px;
    color: #686868;
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.listAuthor {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 10px;
    color: #686868;
}

.listPostDescription {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 10px;
    color: #686868;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;

    background-color: #f0f0ff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.2);

    /* animation: appear-from-bottom 300ms ease-in-out; */
}

.navbarItem {
    list-style: none;
    width: auto;
    height: 100%;
    padding: 10px 20px;
    font-size: 1.5em;
}

.navbarItem .navbarLinkText {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1400px) {
    .mainContent {
        margin: 0 15%;
    }   
}

@media screen and (max-width: 500px) {
    body {
        margin-bottom: 37px;
    }
    .siteHeader {
        font-size: 1.1em;
    }
    .mainTitle {
        font-size: 2em;
    }
    .mainContent {
        margin: auto 5%;
    }
    .contentParagraph {
        font-weight: 400;
        font-size: 1.1em;
    }
    .listItem {
        font-size: 1.1em;
    }
    .postDate {
        font-size: 0.7em;
    }
    .navbar {
        justify-content: end;
        flex-direction: row-reverse;
        height: 40px;
    }
    .navbarItem {
        font-size: 1.1em;
        height: 100%;
    }
}
