:root {
    --primary-color: #0B2027;
    --secondary-color: #F7CB15;
    --tertiary-color: #5C0029;

    --font-color: #C9C9C9;
    --font-muted-color: #64717D;
    --font-accent-color: #92A2B1;

    --black: #000000;
    --white: #FFFFFF;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    margin-left: 5px;
}

.headerContent>a {
    color: var(--font-muted-color);
    transition: color .2s ease-in-out;
}

.headerContent>a:hover {
    color: var(--white);
    border: none !important;
}

.headerContent>a>span {
    color: var(--secondary-color);
}

.headerContent .headerMenu {
    margin-right: 3px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}