:root {
    --primary-color: #0B2027;
    --secondary-color: #F7CB15;
    --tertiary-color: #5C0029;

    --font-color: #C9C9C9;
    --font-muted-color: #64717D;
    --font-accent-color: #92A2B1;

    --black: #000000;
    --white: #FFFFFF;
}

/* @keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(1px);
    }
    40% {
        transform: translateY(-1px);
    }
    60% {
        transform: translateX(1px);
    }
    80% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateX(0);
    }
} */

.navbarBrand {
    margin: 0 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 2rem;
    color: var(--font-accent-color);
}

.navbarBrand>span{
    color: var(--secondary-color);
}

.navbarItemsContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    width: 150px;
    list-style: none;
}

.navbarItem {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid var(--font-muted-color);
}

.navbarItem:hover {
    color: var(--font-accent-color);
    border-color: var(--white);
}

.navbarItemLink {
    color: var(--font-color);
}

.navbarItemLink:hover {
    color: var(--white);
    border: none !important;
}

