:root {
    --primary-color: #0B2027;
    --secondary-color: #F7CB15;
    --tertiary-color: #5C0029;

    --font-color: #C9C9C9;
    --font-muted-color: #64717D;
    --font-accent-color: #92A2B1;

    --black: #000000;
    --white: #FFFFFF;
}

/* @keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(1px);
    }
    40% {
        transform: translateY(-1px);
    }
    60% {
        transform: translateX(1px);
    }
    80% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateX(0);
    }
} */

.navbarBrand {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 4rem;
    color: var(--font-color);
    font-size: 2.2rem;
    font-weight: 500;
}

.navbarBrand>span {
    color: var(--secondary-color);
}

.navbarItemsContainer {
    position: sticky;
    top: 124px;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    width: 150px;
    list-style: none;

}

.navbarItem {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 1.5rem;
    transition: all 0.2s ease-in-out;
}

/* .navbarItem:nth-child(2) {
    background-color: var(--secondary-color);
    box-shadow: .5px .5px 5px var(--secondary-color);

    animation: shake infinite 1s ease-in-out;
}

.navbarItem:nth-child(2) > a {
    margin-left: 10px;
    color: var(--black);
}

.navbarItem:nth-child(2):hover {
    margin-left: 0;
} */

.navbarItem:hover {
    color: var(--black);
    margin-left: 10px;
    background-color: var(--secondary-color);
    box-shadow: .5px .5px 5px var(--secondary-color);
}

.navbarItem:hover a {
    color: var(--black);
    padding-left: 5px;
    border: none !important;
}

.navbarItem>a {
    color: var(--font-color);
    text-decoration: none;

    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
    .navbarBrand {
        font-size: 1.8rem;
    }

    .navbarItem {
        font-size: 1.1rem;
        padding: 3px;
    }
}

@media screen and (max-width: 700px) {
    .navbarItem {
        background-color: antiquewhite;
    }
}