:root {
    --primary-color: #0B2027;
    --secondary-color: #F7CB15;
    --tertiary-color: #5C0029;

    --font-color: #C9C9C9;
    --font-muted-color: #64717D;
    --font-accent-color: #92A2B1;

    --black: #000000;
    --white: #FFFFFF;
}

/* @keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(1px);
    }
    40% {
        transform: translateY(-1px);
    }
    60% {
        transform: translateX(1px);
    }
    80% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateX(0);
    }
} */

@keyframes appear-from-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.navbarItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    animation: appear-from-top .3s ease-in-out;
}

.navbarItem {
    text-align: left;
    width: 100%;
    max-width: 700px;
    font-size: 1.3rem;
    padding: 5px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    border-top: 2px solid var(--font-muted-color);
    border-bottom: 2px solid var(--font-muted-color);
}

.navbarItem:hover {
    color: var(--font-accent-color);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-color: var(--white);
}

.navbarItemLink {
    color: var(--font-color);
    transition: all 0.2s ease-in-out;

}

.navbarItemLink:hover {
    color: var(--white);
    border: none !important;
}

